<h2>Add Choice</h2>

<form action="{% url 'polls:detail' question.id %}">
	{% csrf_token %}
	<label for="new_choice">Choice:</label>
	<input type="text" name="new_choice">

	<input type="submit" value="Add">
</form>