{% load static %}

<h2>~Create a new Question~</h2>

<form action="" method="post">
	{% csrf_token %}
	{% for field in form %}
		<p>
			{{ field.label_tag }}<br />
			{{ field }}
		</p>
	{% endfor %}
	<label for="choice1">Choice 1</label>
	<input type="text" name="choice1"><br />
	<label for="choice2">Choice 2</label>
	<input type="text" name="choice2"/><br />
	<label for="choice3">Choice 3</label>
	<input type="text" name="choice3"/><br />
	<button type="submit">Submit</button>
</form>