{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if user.is_authenticated %}
    You are logged in as {{ user.username }}.
{% endif %}
<br />
<ul>
	<a href="{% url 'registration:logout' %}">Logout</a>
	<a href="{% url 'polls:create_question' %}">Create new Question</a>
</ul>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
