body {
	font-family: sans-serif;
}

.login-form, .signup-form {
	max-width: 400px;
	background: beige;
	margin: auto;
	border-radius: 2px;
	border-style: dotted;
	margin-top: 100px;
	padding-left: 10px;
}

#header-text h2 {	
	margin: 10% 0% 30% 20%;
}

#submit-button-login, #submit-button-signup {
	margin-left: 40%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.login-form input {
	margin: auto;
}
