{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}My amazing registration page{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'registration/style.css' %}">
</head>
<body>
	<div id="sidebar">
		{% block sidebar %}
		<ul>
			<li><a href="/polls/">Home</a></li>
		</ul>
		{%endblock%}
	</div>

	<div id="content">
		{% block content %}
			
		{% endblock %}
	</div>
</body>
</html>