{% extends 'registration/base.html' %}

{% block title %}Login{% endblock %}

{% if user.is_authenticated %}

    <p>Hello world!</p>
    
{% endif %}
{% block content %}
<div class="login-form">
  <span id="header-text"><h2>Login to mysite!</h2></span>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    	<p>
    		{{ field.label_tag }}<br>
    		{{ field }}
    		{% if field.help_text %}
    			<small style="color: grey">{{ field.help_text }}</small>
    		{% endif %}
    		{% for error in field.errors %}
    			<p style="color: red">{{ error }}</p>
    		{% endfor %}
    	</p>
    {% endfor %}
    <button type="submit" id="submit-button-login">LOGIN</button>
  </form>
</div>


Haven't signed up yet? Sign up <a href="{% url 'registration:signup' %}">here</a>.
{% endblock %}