{% extends 'registration/base.html' %}

{% block title %}Signup{% endblock title %}

{% block content %}
    <div class="signup-form">
        <span id="header-text"><h2>Signup on mysite!</h2></span>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ error_message }}
            <button type="submit" id="submit-button-signup">SIGNUP</button>
        </form>
    </div>
{% endblock content %}